body {
    
	margin:0px;
    background-color:deepskyblue
}

h1 {color:purple;}
p {color:black;
	padding:10px;

}
header {
    
    background-color:deepskyblue;
	height:143px;
}
main {
    
    margin:;
    background-color:whitesmoke;
	padding:-120px;
}

#mission{
    
    width:calc(100%/3);
    float:left;
    
}

#top_left2{
    
    margin:0 auto;
    padding:20px 20px 20px 720px;
    width:calc(100%/3);
    display:block;
    float:left;
}

#top_part{
    
    height:;
    width:calc(100%/3);
    background-color:white;
}

#funding{
    
    margin:0 auto;
    background-color:yellowgreen;
    float:left;animation: 
} 

.floating-box{
    float: left;
    width:130px;
    height:75px;
    margin:10px;
    border:3px solid #73AD21;
}

.after-box{
    clear:left;
    border:3px solid red;
}

#teacher{
    
    margin:;
    background-color:darkblue;
    float:left
    
}

#school{
    
    margin:0 auto;
    background-color:lightblue;
    float:right;
}

#donate{
    margin:0 auto;
    background-color:green
}




footer {
	background-color:gray;
	height:120px; 
	text-align:center;
}
footer p {
	font-size:.002em;
}
#copyRight {
	position:relative;
	padding:108px 0px 0px 108px;
	back-ground color:whitesmoke;
}


a.button {
	background-color:#FF00FF;
	padding:16px;
	color:#FFFFFF;
	text-decoration:none;
	border-radius:6px;
	
}
a.button:hover {
	background-color:orange;
}



/*. put a class here{*/
	width:600px;
	/*height:100px;*/  /* REMOVE THIS HEIGHT */
	
}

nav{
    height: 20px;
	width:450px;
	float:right;
	position:relative;
	top:-31px;
	right:0px;
    background-color:black;
}
li{
	background-color:darkcyan;
	padding:6px;
	margin:0px 3px;
	display:inline;
	border-radius:4px 4px 0px 0px;

}
li:hover {
	background-color:#0000FF;
}

li a {
	color:#FFFFFF;
	text-decoration:none;
	font-weight:700;
	font-size:1em;
	text-transform:uppercase;
}
#logo {
    height: 100%;
	width:100%;
    float:right;
}



