body{
    margin:0 auto;
    font-family:arial;
    line-height: 18px;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    text-align: center;
    
}

header{
    
background-color:#A9B016;
text-align:center;
    
}

main{
    width: 90%;
    text-align:center;
    margin-left:50px;
}

ul{
    background-color:#68AEC8;
    margin:0;
    padding:0;
}


